.App {
  margin: 20px;
  text-align: left;
}

.Employer {
  line-height: 0%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#experience-title {
  /* padding: 15px;
  background-color: #d95240; */
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "experience"
    "projects"
    "education"
}

@media only screen and (min-width: 600px) {
  .body {
    grid-template-columns: 1fr 50px 1fr;
    grid-template-areas:
      "experience . projects"
      "experience . education";
  }
}

.Work-experience {
  grid-area: experience;
}

.Projects {
  grid-area: projects;
}

.Education {
  grid-area: education;
}